<!--The content below is only a placeholder and can be replaced.-->
<div class="page">
  <div class="header">
    <div class="logo-bar">
      <a href="">
        <img src="../assets/images/logo2.png" class="logo-icon"/>
        <!--<div class="shadow1"></div>
        <div class="shadow2"></div>
        <div class="shadow3"></div>-->
      </a>
    </div>
    <app-nav-bar>
    </app-nav-bar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">

  </div>
</div>
