.navBar{
  background-color: #B0BEC5;
  box-sizing: border-box;
  width: 100%;
  height: 6vh;
}

.navBar ul{
  margin: 0;
  padding: 0;
}

.navBar li{
  font-size: 1em;
  float: left;
  line-height: 6vh;
  padding: 0% 2%;
  list-style: none;
  color: #FFFFFF;
}

.navBar li:hover{
  background-color: #B0BEC5;
}

.navBar li:last-child{
  float: right;
}

.navBar li:last-child:hover{
  background-color: #B0BEC5;
}

.navBar a{
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

.navBar li a:hover{
  text-decoration: underline;
}
