<div class="navBar">
	<ul>
		<li>
			<a (click)="pageChange('events')">Events</a>
		</li>
		<li *ngIf="isLoggedIn()">
			<a (click)="pageChange('vote')">Votes</a>
		</li>
		<li *ngIf="!isLoggedIn()">
			<a (click)="pageChange('credits')">Credits</a>
		</li>
		<li *ngIf="isAdmin() && isLoggedIn()">
			<a (click)="pageChange('new-party')">New Party</a>
		<li>
		<li *ngIf="isAdmin() && isLoggedIn()">
			<a (click)="pageChange('budget')">Budget</a>
		</li>
		<li *ngIf="isAdmin() && isLoggedIn()">
			<a (click)="pageChange('settings')">Settings</a>
		</li>
		<li *ngIf="!isLoggedIn()">
			<form class="login" #form="ngForm" (ngSubmit)="login(form)" novalidate>
				<input type="text" class="input-field" name="username" placeholder="User Name" [(ngModel)]="username"/>
				<input type="password" class="input-field" [(ngModel)]="password" name="password" placeholder="Password" />
				<button class="button-field">LOGIN</button>
			</form>
		</li>
		<li *ngIf="isLoggedIn()">
			<a href="" (click)="logout()">Logout</a>
		</li>
	</ul>
</div>
