.navBar{
  background-color: #CECECE;
  padding: 0% 1%;
  box-sizing: border-box;
  width: 100%;
  height: 5vh;
}

.navBar ul{
  margin: 0;
  padding: 0;
}

.navBar li{
  float: left;
  line-height: 5vh;
  padding: 0% 5%;
  list-style: none;
}

.navBar li:hover{
  background-color: #FFFFFF;
}

.navBar li:last-child:hover{
  background-color: #CECECE;
}

.navBar li a{
  text-decoration: none;
}

.navBar li a:hover{
  text-decoration: underline;
}
